<div id="can-find" class="sub-screen">

  <h1 class="title">canFind</h1>

  <form>
    <div class="input-box">
      <label for="find">{{ i18n['find_it'] }}</label>
      <input type="text" name="find" id="find" required minlength="3" [(ngModel)]="find" (input)="canFind()">
      <!--
        TODO: checkboxes "find in" - name, content name, keywords, barcode
        TODO: select/options
        TODO: paging 25/50/100? settings
      -->
    </div>
  </form>

  <div *ngIf="canList.length == 0">
    <div class="demo demo-head">{{ i18n['found'] }}: ?</div>
    <div class="demo demo-body" *ngFor="let item of [1,2]">&nbsp;</div>
  </div>

  <div *ngIf="canList.length > 0">
    <div class="demo demo-head">{{ i18n['found'] }}: {{ canList.length }}</div>
    <div class="demo demo-body" *ngFor="let item of canList"><a (click)="canDisplay(item.id)">{{ item.text }}</a></div>
  </div>

</div>
