<div id="can-add" class="sub-screen">

  <h1 style="text-align: center; color: navy;">canAdd</h1>
  <form id="can-form" [formGroup]="canForm" (ngSubmit)="addCan()">
    <div class="input-box">
      <label for="can-form-type">{{ i18n['can_type'] }}</label>
      <div class="input-value-box input-with-icon">
        <div class="input-icon input-icon-silver">{{ typeIconContent }}</div>
        <div class="full">
          <select id="can-form-type" class="full" formControlName="canFormType" (change)="updateType()" required>
            <option *ngFor="let type of canType" [ngValue]="type.id">{{ type.name }}</option>
            <option value="0" (select)="newType()" class="new-option">{{ i18n['add_can_type'] }}</option>
          </select>
        </div>
      </div>
    </div>

    <div formGroupName="canFormTypeDetails">
      <div class="input-box">
        <div class="can-sm-12 can-md-6 can-lg-3">
          <label for="can-form-diameter">{{ i18n['diameter'] }}</label>
          <div class="input-value-box">
            <input id="can-form-diameter" type="number" formControlName="canFormDiameter" readonly />
          </div>
        </div>
        <div class="can-sm-12 can-md-6 can-lg-3">
          <label for="can-form-height">{{ i18n['height'] }}</label>
          <div class="input-value-box">
            <input id="can-form-height" type="number" formControlName="canFormHeight" readonly />
          </div>
        </div>
        <div class="can-sm-12 can-md-6 can-lg-3">
          <label for="can-form-volume">{{ i18n['volume'] }}</label>
          <div class="input-value-box">
            <input id="can-form-volume" type="number" formControlName="canFormVolume" readonly />
          </div>
        </div>
        <div class="can-sm-12 can-md-6 can-lg-3">
          <label for="can-form-volumeFlOz">{{ i18n['volumeFlOz'] }}</label>
          <div class="input-value-box">
            <input id="can-form-volumeFlOz" type="number" formControlName="canFormVolumeFlOz" readonly />
          </div>
        </div>
      </div>
      <div class="defloat"></div>
    </div>

    <div class="input-box">
      <div class="can-sm-12 can-md-6 can-lg-3">
        <label for="can-form-material">{{ i18n['material'] }}</label>
        <div class="input-with-icon input-value-box">
          <div class="input-icon" [class]="materialIconColor">{{ materialIconContent }}</div>
          <div class="full">
            <select id="can-form-material" formControlName="canFormMaterial" (change)="updateMaterial()" required>
              <option *ngFor="let material of canMaterial" [ngValue]="material.id">{{ material.name }}</option>
              <option value="0" (select)="newMaterial()" class="new-option">{{ i18n['add_material'] }}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="can-sm-12 can-md-6 can-lg-3">
        <label for="can-form-surface">{{ i18n['surface'] }}</label>
        <div class="input-with-icon input-value-box">
          <div class="input-icon" [class]="surfaceIconColor"></div>
          <div class="full">
            <select id="can-form-surface" formControlName="canFormSurface" (change)="updateSurface()" required>
              <option *ngFor="let surface of canSurface" [ngValue]="surface.id">{{ surface.name }}</option>
              <option value="0" (select)="newSurface()" class="new-option">{{ i18n['add_surface'] }}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="can-sm-12 can-md-6 can-lg-3">
        <label for="can-form-cover-color">{{ i18n['cover'] }}</label>
        <div class="input-with-icon input-value-box">
          <div class="input-icon input-icon-cover" [class]="coverIconColor"></div>
          <div class="full">
            <select id="can-form-cover-color" formControlName="canFormCoverColor" (change)="updateCover()" required>
              <option *ngFor="let color of canColor" [ngValue]="color.id">{{ color.name }}</option>
              <option value="0" (select)="newColor()" class="new-option">{{ i18n['add_color'] }}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="can-sm-12 can-md-6 can-lg-3">
        <label for="can-form-opener-color">{{ i18n['opener'] }}</label>
        <div class="input-with-icon input-value-box">
          <div class="input-icon input-icon-opener" [class]="openerIconColor"></div>
          <div class="full">
            <select id="can-form-opener-color" formControlName="canFormOpenerColor" (change)="updateOpener()" required>
              <option *ngFor="let color of canColor" [ngValue]="color.id">{{ color.name }}</option>
              <option value="-1">nie je</option>
              <option value="0" (select)="newColor()" class="new-option">{{ i18n['add_color'] }}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="defloat"></div>

    <div class="input-box">
      <label for="can-form-brand">{{ i18n['brand'] }}</label>
      <div class="input-value-box">
        <input id="can-form-brand" type="text" formControlName="canFormBrand" (change)="updateBrand()" maxlength="100"
          required value="Coca" />
      </div>
    </div>

    <div class="input-box">
      <div class="can-sm-12 can-md-12 can-lg-6">
        <label for="can-form-content-name">{{ i18n['content_name'] }}</label>
        <div class="input-value-box">
          <input id="can-form-content-name" type="text" formControlName="canFormContentName"
            (change)="updateContentName()" />
        </div>
      </div>

      <div class="can-sm-12 can-md-6 can-lg-3">
        <label for="can-form-content-type">{{ i18n['content_type'] }}</label>
        <div class="input-value-box">
          <select id="can-form-content-type" formControlName="canFormContentType" required>
            <option *ngFor="let contyp of canContentType" [ngValue]="contyp.id">{{ contyp.name }}</option>
            <option value="-1">{{ i18n['unknown_content_type'] }}</option>
            <option value="0" (select)="newContentType()" class="new-option">{{ i18n['add_content_type'] }}</option>
          </select>
        </div>
      </div>

      <div class="can-sm-12 can-md-6 can-lg-3">
        <label for="can-form-alcohol">{{ i18n['alcohol'] }}</label>
        <div class="input-value-box">
          <input id="can-form-alcohol" type="number" min="0" max="100" step="0.1" formControlName="canFormAlcohol"
            required />
        </div>
      </div>
    </div>
    <div class="defloat"></div>

    <div class="input-box">
      <label for="can-form-keywords">{{ i18n['keywords'] }}</label>
      <div class="input-value-box">
        <input id="can-form-keywords" type="text" formControlName="canFormKeywords" (change)="updateKeywords()"
          pattern="" />
      </div>
    </div>

    <div class="input-box">
      <div class="can-sm-12 can-md-6 can-lg-3">
        <label for="can-form-prod-date">{{ i18n['production_date'] }}</label>
        <div class="input-value-box">
          <input id="can-form-prod-date" type="date" formControlName="canFormProdDate" />
        </div>
      </div>

      <div class="can-sm-12 can-md-6 can-lg-3">
        <label for="can-form-exp-date">{{ i18n['expiration_date'] }}</label>
        <div class="input-value-box">
          <input id="can-form-exp-date" type="date" formControlName="canFormExpDate" />
        </div>
      </div>

      <div class="can-sm-12 can-md-6 can-lg-3">
        <label for="can-form-country">{{ i18n['country'] }}</label>
        <div class="input-with-icon input-value-box">
          <div class="input-icon input-icon-white"></div>
          <div class="full">
            <select id="can-form-country" formControlName="canFormCountry" (change)="updateCountry()" required>
              <option *ngFor="let country of canCountry" [ngValue]="country.id">{{ country.name }}</option>
              <option value="-1">{{ i18n['unknown_country'] }}</option>
              <option value="0" (select)="newCountry()" class="new-option">{{ i18n['add_country'] }}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="can-sm-12 can-md-6 can-lg-3">
        <label for="can-form-language">{{ i18n['language'] }}</label>
        <div class="input-with-icon input-value-box">
          <div class="input-icon input-icon-white"></div>
          <div class="full">
            <select id="can-form-language" formControlName="canFormLanguage" (change)="updateLanguage()" required>
              <option *ngFor="let lang of canLanguage" [ngValue]="lang.id">{{ lang.name }}</option>
              <option value="-1">{{ i18n['unknown_language'] }}</option>
              <option value="0" (select)="newLanguage()" class="new-option">{{ i18n['add_language'] }}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="defloat"></div>

    <div class="input-box">
      <div class="can-sm-12 can-md-12 can-lg-12">
        <label for="can-form-ean">{{ i18n['barcode'] }}</label>
        <div class="input-value-box">
          <input id="can-form-ean" type="text" maxlength="13" pattern="[0-9]{1,13}" formControlName="canFormEan"
            (change)="updateEan()" required />
        </div>
      </div>

      <div class="can-sm-12 can-md-12 can-lg-6">
        <!-- TODO: genrate ean_barcode image -->
      </div>
    </div>

    <div class="input-box">
      <label for="can-form-notes">{{ i18n['notes'] }}</label>
      <div class="input-value-box">
        <textarea id="can-form-notes" formControlName="canFormNotes"></textarea>
      </div>
    </div>

    <div class="input-box">
      <label for="can-form-fname1" class="can-file-button">{{ i18n['photo'] }} 1</label>
      <div class="input-value-box">
        <input id="can-form-fname1" type="file" formControlName="canFormFname1" />
      </div>
    </div>

    <div class="input-box">
      <label for="can-form-fname2" class="can-file-button">{{ i18n['photo'] }} 2</label>
      <div class="input-value-box">
        <input id="can-form-fname2" type="file" formControlName="canFormFname2" />
      </div>
    </div>

    <div class="input-box">
      <label for="can-form-fname3" class="can-file-button">{{ i18n['photo'] }} 3</label>
      <div class="input-value-box">
        <input id="can-form-fname3" type="file" formControlName="canFormFname3" />
      </div>
    </div>

    <div class="input-box">
      <label for="can-form-fname4" class="can-file-button">{{ i18n['photo'] }} 4</label>
      <div class="input-value-box">
        <input id="can-form-fname4" type="file" formControlName="canFormFname4" />
      </div>
    </div>

    <div class="input-box">
      <label for="can-form-fname5" class="can-file-button">{{ i18n['photo'] }} 5</label>
      <div class="input-value-box">
        <input id="can-form-fname5" type="file" formControlName="canFormFname5" />
      </div>
    </div>

    <div class="input-box">
      <button type="submit" [disabled]="!canForm.valid">{{ i18n['save'] }}</button>
    </div>
  </form>

  <canbank-display></canbank-display>

</div>
