.can-file-button {
  display: block;
  width: fit-content;
  border-width: 0 3px 3px 0;
  border-style: solid;
  border-radius: 6px;
  border-color: gold;
  padding: 1px 6px;
  color: navy;
}
.new-option {
  font-weight: bold;
  font-style: italic;
  background-color: lightyellow;
}

.input-value-box {
  padding-top: 5px;
}
.input-with-icon {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: stretch;
}
.input-icon {
  width: 2em;
  border-radius: 6px;
}
.input-icon-flag {
  background-image: url(../../assets/img/check32.png);
}
.input-icon-white {
  background-color: white;
}
#can-form-diameter, #can-form-height, #can-form-volume, #can-form-volumeFlOz {
  background-color: #DEF;
}
