.can-flash-h1 {
  font-family: Limelight;
  font-weight: bold;
  color: gold;
}
.can-flash-plus {
  margin: auto;
  width: 2em;
  height: 2em;
  line-height: 2em;
  border: 12px solid;
  border-radius: 2em;
  background-color: gold;
  color: blue;
}
.can-flash-plus:hover {
  cursor: pointer;
}

.can-flash-minus {
  display: none;
}
