<div class="sub-screen">
  <h1>languageForm</h1>

  <table class="tab-list">
    <thead>
      <tr>
        <th>[F]</th>
        <th class="tab-90">{{ i18n.ctg_language }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of canLanguageRows">
        <td><button class="btn-sign" [style]="item.style" (click)="setDefaultCanLanguage(item.id)"></button></td>
        <td>{{ item.name }} [{{ item.abbr }}]</td>
        <td><button class="btn-del" (click)="deleteCanLanguage(item.id)"><span>×</span></button></td>
      </tr>
    </tbody>
  </table>

  <p></p>

  <button class="can-ctg-open-btn" (click)="openForm = !openForm" *ngIf="!openForm">+</button>

  <form *ngIf="openForm" [formGroup]="canForm" (submit)="submitCanLanguage()">
      <label for="canFormName">{{ i18n.name }}</label>
      <input type="text" id="canFormName" formControlName="canFormName" minlength="3" class="can-ctg-input" required />
      <label for="canFormAbbr">{{ i18n.abbreviation }}</label>
      <input type="text" id="canFormAbbr" formControlName="canFormAbbr" minlength="2" class="can-ctg-input" required />

      <button class="can-ctg-btn" [disabled]="canForm.invalid">+</button>
  </form>
</div>
