<div class="sub-screen">
  <h1 class="title">canTypeForm</h1>

  <table>
    <thead>
      <tr>
        <th></th>
        <th class="tab-90">{{ i18n.ctg_type }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of canTypeRows">
        <td><button class="btn-flag" [style]="item.style" (click)="setDefaultCanType(item.id)"></button></td>
        <td>{{ item.name }}</td>
        <td><button class="btn-del" (click)="deleteCanType(item.id)"><span>×</span></button></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3"><button id="openBtn" class="can-ctg-open-btn" [class]="openClass" (click)="openForm()">+</button>
        </td>
      </tr>
    </tfoot>
  </table>

  <form *ngIf="openClass" [formGroup]="canForm" (submit)="submitCanType()">
    <label for="canFormName">{{ i18n.name }}</label>
    <input id="canFormName" type="text" formControlName="canFormName" required />
    <label for="canFormDiameter">{{ i18n.diameter }}</label>
    <input id="canFormDiameter" type="number" min="0" step="1" formControlName="canFormDiameter" required /><br>
    <label for="canFormHeight">{{ i18n.height }}</label>
    <input id="canFormHeight" type="number" min="0" step="1" formControlName="canFormHeight" required />
    <label for="canFormVolume">{{ i18n.volume }}</label>
    <input id="canFormVolume" type="number" min="0" step="1" formControlName="canFormVolume" required />
    <label for="canFormVolumeFlOz">{{ i18n.volumeFlOz }}</label>
    <input id="canFormVolumeFlOz" type="number" min="0" step="0.1" formControlName="canFormVolumeFlOz" required />
    <div>
      <input id="canFormDefault" type="checkbox" formControlName="canFormDefault" class="check-2em check-right" />
      <label for="canFormDefault">{{ i18n.check_default }}</label>
    </div>

    <button type="submit" class="can-ctg-submit-btn" [disabled]="canForm.invalid">+</button>
  </form>
</div>
