<div class="sub-screen">
  <h1 class="title">canTypeForm</h1>

  <div class="demo demo-head">{{ i18n['ctg_tab_type'] }} & {{ i18n['ctg_tab_dims'] }}</div>
  <div *ngIf="canTypeRows.length == 0">
    <div class="demo demo-body" *ngFor="let item of [1,2]">&nbsp;</div>
  </div>
  <div *ngIf="canTypeRows.length > 0">
    <div class="demo demo-body" *ngFor="let item of canTypeRows">
      <button *ngIf="item.removable" class="btn btn-del right" (click)="deleteCanType(item.id)"><span>×</span></button>
      <button *ngIf="!item.removable" class="btn btn-hidden right"></button>
      <button class="btn btn-flag left" [style]="item.style" [class]="item.class"
        (click)="setDefaultCanType(item.id)"></button>
      <span class="cat-item">{{ item.name }}
        <small><span class="type-dims">&harr;&nbsp;{{ item.diameter }}&nbsp;mm</span></small>
        <small><span class="type-dims">&varr;&nbsp;{{ item.height }}&nbsp;mm</span></small>
        <small><span class="type-dims">&cup;&nbsp;{{ item.volume }}&nbsp;ml</span></small>
        <small><span class="type-dims">&cup;&nbsp;{{ item.volumeFlOz }}&nbsp;fl.oz.</span></small>
      </span>
      <span class="defloat"></span>
    </div>
  </div>


  <button id="openBtn" class="can-ctg-open-btn center" [class]="openClass" (click)="openForm()">+</button>


  <form *ngIf="openClass" [formGroup]="canForm" (submit)="submitCanType()">
    <label for="canFormName">{{ i18n['ctg_tab_name'] }}</label>
    <input id="canFormName" type="text" formControlName="canFormName" required />
    <label for="canFormDiameter">{{ i18n['add_diameter'] }}</label>
    <input id="canFormDiameter" type="number" min="0" step="1" formControlName="canFormDiameter" required /><br>
    <label for="canFormHeight">{{ i18n['add_height'] }}</label>
    <input id="canFormHeight" type="number" min="0" step="1" formControlName="canFormHeight" required />
    <label for="canFormVolume">{{ i18n['add_volume'] }}</label>
    <input id="canFormVolume" type="number" min="0" step="1" formControlName="canFormVolume" required />
    <label for="canFormVolumeFlOz">{{ i18n['add_volumeFlOz'] }}</label>
    <input id="canFormVolumeFlOz" type="number" min="0" step="0.1" formControlName="canFormVolumeFlOz" required />
    <div>
      <input id="canFormDefault" type="checkbox" formControlName="canFormDefault" class="check-2em check-right" />
      <label for="canFormDefault">{{ i18n['ctg_check_default'] }}</label>
    </div>

    <button type="submit" class="can-ctg-submit-btn" [disabled]="canForm.invalid">+</button>
  </form>
</div>
