.canbank-menu {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.menu-btn {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
}
.menu-btn,
.menu-btn a {
  background-color: blue;
  color: gold;
  border-radius: 2em;
}
/*.menu-btn a {
  border-color: blue;
}*/
.menu-btn-active {
  background-color: gold !important;
  color: blue !important;
  background-image: url('../../assets/img/bg_nav_blue.png') !important;
}
.anchor-btn {
  display: inline-block;
  width: 100%;
  background-image: url('../../assets/img/bg_nav_gold.png');
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 3em;
}
