.can-categories {
  list-style: none;
}
.can-ctg-list {
  position: relative;
  left: -1em;
  list-style: none;
}
.can-ctg-color-picker {
  width: 30px;
  height: 30px;
}
.can-ctg-color-picker:required:valid {
  background-color: blue;
}
.can-ctg-color-picker:required:invalid {
  background-color: red;
}
.can-ctg-submit-btn {
  margin: 0.5em 0;
  font-size: 1em;
  font-weight: bold;
}
.can-ctg-open-btn {
  width: 2em;
  margin-top: 1em;
  border-radius: 50%;
  font-size: 1em;
  font-weight: bold;
}
.btn-open {
  border-style: solid;
  border-color: blue;
  border-width: 0 0 2px;
  background-color: gold;
  color: blue;
}

.canbank-menu {
  margin-top: 3em;
}
.menu-btn {
  width: 69%;
  max-width: 471px;
  margin: 6px auto;
  border-radius: 1em;
  padding: 3px 0;
  text-align: center;
  border-width: 0 1px 3px 0;
  border-style: solid;
  border-color: blue;
  background-image: url("../../assets/img/bg_nav_blue.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 3em 2em;
}

.menu-btn,
.menu-btn a {
  background-color: gold;
  color: blue;
}

.btn-left {
  border-radius: 6px 0 0 6px;
}
.btn-right {
  border-radius: 0 6px 6px 0;
}
.btn-default {
  border-style: solid;
  border-width: 2px;
  border-color: white gray gray white;
}
.btn-flag {
  font-weight: bold;
  color: black;
}
.btn-del {
  background-color: red;
  color: white;
}
.btn-del span {
  line-height: 1em;
  font-size: 2em;
}
.btn-flag,
.btn-del {
  width: 2em;
  vertical-align: text-bottom;
}
.check-2em {
  width: 2em;
  height: 2em;
}
.check-right {
  float: right;
}
