<div id="can-categories" class="sub-screen">

  <h1 class="title">canCtg</h1>
  <!--ul>
    <li *ngFor="let ctg of categories">{{ ctg.type }}
      <ol>
        <li *ngFor="let item of ctg.data">{{ item.name }}</li>
      </ol>
    </li>
  </ul-->

</div>

<!--
    <form>
    <div class="input-box">
      <label>categories
        <input type="text" class="input-initial">
      </label>
    </div>

    <div class="input-box">
      <label>categories
        <input type="text" class="input-empty">
      </label>
    </div>

    <div class="input-box">
      <label>categories
        <input type="text" class="input-valid">
      </label>
    </div>

    <div class="input-box">
      <label>categories
        <input type="text" class="input-invalid">
      </label>
    </div>

    <div class="input-box">
      <button type="submit" (click)="canCategories();">Pridať</button>
    </div>
  </form>

-->
