.can-categories {
  list-style: none;
}
.can-ctg-list {
  position: relative;
  left: -1em;
  list-style: none;
}
.can-ctg-color-picker {
  width: 30px;
  height: 30px;
}
.can-ctg-color-picker:required:valid {
  background-color: blue;
}
.can-ctg-color-picker:required:invalid {
  background-color: red;
}
.can-ctg-btn {
  margin: 0.5em 0;
}
.can-ctg-open-btn {
  display: block;
  width: 1em;
  height: 1em;
  margin: auto;
}

.canbank-menu {
  margin-top: 3em;
}
.menu-btn {
  width: 66%;
  max-width: 471px;
  margin: 3px auto;
  border-radius: 1em;
  padding: 3px 0;
  text-align: center;
  border-width: 0 1px 3px 0;
  border-style: solid;
  border-color: blue;
  background-image: url("../../assets/img/bg_nav_blue.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 3em 2em;
}

.menu-btn,
.menu-btn a {
  background-color: gold;
  color: blue;
}

.tab-list {
  width: 75%;
  margin: auto;
  border-spacing: 0px;
}
.tab-list thead tr {
  background-color: blue;
  color: gold;
}
.tab-list td {
  text-align: center;
  padding: 3px 5px;
}
.tab-list .tab-90 {
  width: 90%;
}
.tab-list tbody tr:nth-child(2n + 1) {
  background-color: #ffc800;
}
.tab-list tbody tr:nth-child(2n) {
  background-color: #ffe800;
}
.btn-del {
  vertical-align: text-bottom;
  width: 0.75em;
  height: 0.75em;
  background-color: red;
  color: white;
}
.btn-del span {
  position: relative;
  top: -5px;
  left: -1px;
}
.btn-sign {
  vertical-align: text-bottom;
  width: 0.75em;
  height: 0.75em;
}
