table {
  margin: auto;
  border-spacing: 0px;
}
table thead tr {
  background-color: blue;
  color: gold;
}
table td, table th {
  text-align: center;
  padding: 3px 5px;
}
table .tab-90 {
  width: 90%;
}
table tbody tr:nth-child(2n + 1) {
  background-color: #ffc800;
}
table tbody tr:nth-child(2n) {
  background-color: #ffe800;
}

.can-categories {
  list-style: none;
}
.can-ctg-list {
  position: relative;
  left: -1em;
  list-style: none;
}
.can-ctg-color-picker {
  width: 30px;
  height: 30px;
}
.can-ctg-color-picker:required:valid {
  background-color: blue;
}
.can-ctg-color-picker:required:invalid {
  background-color: red;
}
.can-ctg-submit-btn {
  margin: 0.5em 0;
  font-size: 1em;
  font-weight: bold;
}
.can-ctg-open-btn {
  margin-top: 1em;
  font-size: 1em;
  font-weight: bold;
}

.canbank-menu {
  margin-top: 3em;
}
.menu-btn {
  width: 69%;
  max-width: 471px;
  margin: 6px auto;
  border-radius: 1em;
  padding: 3px 0;
  text-align: center;
  border-width: 0 1px 3px 0;
  border-style: solid;
  border-color: blue;
  background-image: url("../../assets/img/bg_nav_blue.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 3em 2em;
}

.menu-btn,
.menu-btn a {
  background-color: gold;
  color: blue;
}

.btn-flag {
  font-weight: bold;
  color: black;
}
.btn-del {
  background-color: red;
  color: white;
}
.btn-del span {
  line-height: 1em;
  font-size: 2em;
}
.btn-flag, .btn-del {
  width: 2em;
  vertical-align: text-bottom;
}
.btn-open {
  background-color: gold;
  color: blue;
}
.check-2em {
  width: 2em;
  height: 2em;
}
.check-right {
  float: right;
}
