<div id="can-categories" class="sub-screen">

  <h1>canCtg</h1>
  <ul class="can-categories">
    <div *ngFor="let ctg of categories; index as i">
      <li (click)="toggleMe(i)">
        <div *ngIf="show[i]; then caretopen; else caretclosed"></div>
        <ng-template #caretclosed>&gt;</ng-template>
        <ng-template #caretopen>v</ng-template>
        {{ ctg.type }}
      </li>
      <ol *ngIf="show[i]">
        <div *ngFor="let item of ctg.data">
          <li>{{ item.name }}</li>
        </div>
      </ol>
      <input *ngIf="show[i]" type="text" name="{{ ctg.class }}" [(ngModel)]="ctg.class" />
    </div>
  </ul>

</div>

<!--
    <form>
    <div class="input-box">F
      <label>categories
        <input type="text" class="input-initial">
      </label>
    </div>

    <div class="input-box">
      <label>categories
        <input type="text" class="input-empty">
      </label>
    </div>

    <div class="input-box">
      <label>categories
        <input type="text" class="input-valid">
      </label>
    </div>

    <div class="input-box">
      <label>categories
        <input type="text" class="input-invalid">
      </label>
    </div>

    <div class="input-box">
      <button type="submit" (click)="canCategories();">Pridať</button>
    </div>
  </form>

-->
