<div class="sub-screen">
  <h1 class="title">colorForm</h1>

  <table>
    <thead>
      <tr>
        <th></th>
        <th class="tab-90">{{ i18n.name }} / {{ i18n.color }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of canColorRows">
        <td><button class="btn-flag" [style]="item.style" [class]="item.class" (click)="setDefaultCanColor(item.id)"></button></td>
        <td>{{ item.name }} / {{ item.color }}</td>
        <td><button class="btn-del" (click)="deleteCanColor(item.id)"><span>×</span></button></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4"><button id="openBtn" class="can-ctg-open-btn" [class]="openClass" (click)="openForm()">+</button>
        </td>
      </tr>
    </tfoot>
  </table>

  <form *ngIf="openClass" [formGroup]="canForm" (submit)="submitCanColor()">
    <label for="canFormName">{{ i18n.name }}</label>
    <input type="text" id="canFormName" formControlName="canFormName" minlength="3" class="can-ctg-input" required />

    <label for="canFormColor">{{ i18n.color }}</label>
    <div id="canFormColor" style="display: flex;">
      <input type="color" formControlName="canFormPicker" (input)="checkColorPicker('picker')"
        class="can-ctg-color-picker btn-left" required /><br>
      <input type="text" formControlName="canFormColor" minlength="3" (input)="checkColorPicker('color')"
        class="can-ctg-input btn-right" required />
    </div>
    <div>
      <input id="canFormDefault" type="checkbox" formControlName="canFormDefault" class="check-2em check-right" />
      <label for="canFormDefault">{{ i18n.check_default }}</label>
    </div>

    <button type="submit" class="can-ctg-submit-btn" [disabled]="canForm.invalid">+</button>
  </form>
</div>
