<div class="sub-screen">
  <h1 class="title">colorForm</h1>

  <div class="demo demo-head">{{ i18n['ctg_tab_name'] }} / {{ i18n['ctg_tab_color'] }}</div>
  <div *ngIf="canColorRows.length == 0">
    <div class="demo demo-body" *ngFor="let item of [1,2]">&nbsp;</div>
  </div>
  <div *ngIf="canColorRows.length > 0">
    <div class="demo demo-body" *ngFor="let item of canColorRows">
      <button *ngIf="item.removable" class="btn btn-del right" (click)="deleteCanColor(item.id)"><span>×</span></button>
      <button *ngIf="!item.removable" class="btn btn-hidden right"></button>
      <button class="btn btn-flag left" [style]="item.style" [class]="item.class"
        (click)="setDefaultCanColor(item.id)"></button>
      <span class="cat-item">{{ item.name }} / {{ item.color }}</span>
      <span class="defloat"></span>
    </div>
  </div>

  <button id="openBtn" class="can-ctg-open-btn center" [class]="openClass" (click)="openForm()">+</button>

  <form *ngIf="openClass" [formGroup]="canForm" (submit)="submitCanColor()">
    <label for="canFormName">{{ i18n['ctg_tab_name'] }}</label>
    <input type="text" id="canFormName" formControlName="canFormName" minlength="3" class="can-ctg-input" required />

    <label for="canFormColor">{{ i18n['ctg_tab_color'] }}</label>
    <div id="canFormColor" style="display: flex;">
      <input type="color" formControlName="canFormPicker" (input)="checkColorPicker('picker')"
        class="can-ctg-color-picker btn-left" required /><br>
      <input type="text" formControlName="canFormColor" minlength="3" (input)="checkColorPicker('color')"
        class="can-ctg-input btn-right" required />
    </div>
    <div>
      <input id="canFormDefault" type="checkbox" formControlName="canFormDefault" class="check-2em check-right" />
      <label for="canFormDefault">{{ i18n['ctg_check_default'] }}</label>
    </div>

    <button type="submit" class="can-ctg-submit-btn" [disabled]="canForm.invalid">+</button>
  </form>
</div>
