<div id="can-disp" class="sub-screen">

  <table id="can-disp-table">
    <tr>
      <td for="can-form-type">{{ i18n['can_type'] }}</td>
      <td class="input-value-box">{{ canFormType }}</td>
    </tr>

    <tr>
      <td for="can-form-diameter">{{ i18n['diameter'] }}</td>
      <td class="input-value-box">{{ canFormDiameter }}</td>
    </tr>
    <tr>
      <td for="can-form-height">{{ i18n['height'] }}</td>
      <td class="input-value-box">{{ canFormHeight }}</td>
    </tr>
    <tr>
      <td for="can-form-volume">{{ i18n['volume'] }}</td>
      <td class="input-value-box">{{ canFormVolume }}</td>
    </tr>
    <tr>
      <td for="can-form-volumeFlOz">{{ i18n['volumeFlOz'] }}</td>
      <td class="input-value-box">{{ canFormVolumeFlOz }}</td>
    </tr>

    <tr>
      <td for="can-form-material">{{ i18n['material'] }}</td>
      <td class="input-value-box">{{ canFormMaterial }}</td>
    </tr>

    <tr>
      <td for="can-form-surface">{{ i18n['surface'] }}</td>
      <td class="input-value-box">{{ canFormSurface }}</td>
    </tr>

    <tr>
      <td for="can-form-cover-color">{{ i18n['cover'] }}</td>
      <td class="input-value-box">{{ canFormCoverColor }}</td>
    </tr>

    <tr>
      <td for="can-form-opener-color">{{ i18n['opener'] }}</td>
      <td class="input-value-box">{{ canFormOpenerColor }}</td>
    </tr>

    <tr>
      <td for="can-form-brand">{{ i18n['brand'] }}</td>
      <td class="input-value-box">{{ canFormBrand }}</td>
    </tr>

    <tr>
      <td for="can-form-content-name">{{ i18n['content_name'] }}</td>
      <td class="input-value-box">{{ canFormContentName }}</td>
    </tr>

    <tr>
      <td for="can-form-content-type">{{ i18n['content_type'] }}</td>
      <td class="input-value-box">{{ canFormContentType }}</td>
    </tr>

    <tr>
      <td for="can-form-alcohol">{{ i18n['alcohol'] }}</td>
      <td class="input-value-box">{{ canFormAlcohol }}</td>
    </tr>

    <tr>
      <td for="can-form-keywords">{{ i18n['keywords'] }}</td>
      <td class="input-value-box">{{ canFormKeywords }}</td>
    </tr>

    <tr>
      <td for="can-form-prod-date">{{ i18n['production_date'] }}</td>
      <td class="input-value-box">{{ canFormProdDate }}</td>
    </tr>

    <tr>
      <td for="can-form-exp-date">{{ i18n['expiration_date'] }}</td>
      <td class="input-value-box">{{ canFormExpDate }}</td>
    </tr>

    <tr>
      <td for="can-form-country">{{ i18n['made_in_country'] }}</td>
      <td class="input-value-box">{{ canFormProdCountry }}</td>
    </tr>

    <tr>
      <td for="can-form-country">{{ i18n['shop_in_country'] }}</td>
      <td class="input-value-box">{{ canFormShopCountry }}</td>
    </tr>

    <tr>
      <td for="can-form-language">{{ i18n['primary_language'] }}</td>
      <td class="input-value-box">{{ canFormLanguage }}</td>
    </tr>

    <tr>
      <td for="can-form-notes">{{ i18n['notes'] }}</td>
      <td class="input-value-box">{{ canFormNotes }}</td>
    </tr>

    <tr>
      <td for="can-form-ean">{{ i18n['barcode'] }}</td>
      <td class="input-value-box">{{ canFormEan }}</td>
    </tr>

    <!tr>
      <!-- TODO: genrate ean_barcode image -->
      <! /tr>

  </table>

  <!--td for="can-form-fname1" class="can-file-button">{{ i18n['photo'] }} 1</td>
  <td class="input-value-box">{{ canFormFname1 }}</td>

  <td for="can-form-fname2" class="can-file-button">{{ i18n['photo'] }} 2</td>
  <td class="input-value-box">{{ canFormFname2 }}</td>

  <td for="can-form-fname3" class="can-file-button">{{ i18n['photo'] }} 3</td>
  <td class="input-value-box">{{ canFormFname3 }}</td>

  <td for="can-form-fname4" class="can-file-button">{{ i18n['photo'] }} 4</td>
  <td class="input-value-box">{{ canFormFname4 }}</td>

  <td for="can-form-fname5" class="can-file-button">{{ i18n['photo'] }} 5</td>
  <td class="input-value-box">{{ canFormFname5 }}</td-->

</div>
