<div id="can-display" class="sub-screen">

  <table id="can-display-table">
    <tr>
      <th colspan="2" class="input-value-box">
        <h1>{{ canFormBrand }}</h1>
      </th>
    </tr>
    <tbody>
      <tr>
        <td>{{ i18n['add_content_name'] }}</td>
        <td class="input-value-box">{{ canFormContentName }}</td>
      </tr>

      <tr>
        <td>{{ i18n['add_can_type'] }}</td>
        <td class="input-value-box">{{ canFormType }}</td>
      </tr>

      <tr>
        <td>{{ i18n['add_diameter'] }}</td>
        <td class="input-value-box">{{ canFormDiameter }}</td>
      </tr>
      <tr>
        <td>{{ i18n['add_height'] }}</td>
        <td class="input-value-box">{{ canFormHeight }}</td>
      </tr>
      <tr>
        <td>{{ i18n['add_volume'] }}</td>
        <td class="input-value-box">{{ canFormVolume }}</td>
      </tr>
      <tr>
        <td>{{ i18n['add_volumeFlOz'] }}</td>
        <td class="input-value-box">{{ canFormVolumeFlOz }}</td>
      </tr>

      <tr>
        <td>{{ i18n['add_material'] }}</td>
        <td class="input-value-box">{{ canFormMaterial }}</td>
      </tr>

      <tr>
        <td>{{ i18n['add_surface'] }}</td>
        <td class="input-value-box">{{ canFormSurface }}</td>
      </tr>

      <tr>
        <td>{{ i18n['add_cover'] }}</td>
        <td class="input-value-box">{{ canFormCoverColor }}</td>
      </tr>

      <tr>
        <td>{{ i18n['add_opener'] }}</td>
        <td class="input-value-box">{{ canFormOpenerColor }}</td>
      </tr>

      <tr>
        <td>{{ i18n['add_content_type'] }}</td>
        <td class="input-value-box">{{ canFormContentType }}</td>
      </tr>

      <tr>
        <td>{{ i18n['add_alcohol'] }}</td>
        <td class="input-value-box">{{ canFormAlcohol }}</td>
      </tr>

      <tr>
        <td>{{ i18n['add_keywords'] }}</td>
        <td class="input-value-box">{{ canFormKeywords }}</td>
      </tr>

      <tr>
        <td>{{ i18n['add_production_date'] }}</td>
        <td class="input-value-box">{{ canFormProdDate }}</td>
      </tr>

      <tr>
        <td>{{ i18n['add_expiration_date'] }}</td>
        <td class="input-value-box">{{ canFormExpDate }}</td>
      </tr>

      <tr>
        <td>{{ i18n['add_made_in_country'] }}</td>
        <td class="input-value-box">{{ canFormProdCountry }}</td>
      </tr>

      <tr>
        <td>{{ i18n['add_shop_in_country'] }}</td>
        <td class="input-value-box">{{ canFormShopCountry }}</td>
      </tr>

      <tr>
        <td>{{ i18n['add_primary_language'] }}</td>
        <td class="input-value-box">{{ canFormLanguage }}</td>
      </tr>

      <tr>
        <td>{{ i18n['add_notes'] }}</td>
        <td class="input-value-box">{{ canFormNotes }}</td>
      </tr>

      <tr>
        <td>{{ i18n['add_barcode'] }}</td>
        <td class="input-value-box">{{ canFormEan }}</td>
      </tr>
    </tbody>
    <!-- TODO: genrate ean_barcode image -->
  </table>

  <!--td for="can-form-fname1" class="can-file-button">{{ i18n['add_photo'] }} 1</td>
  <td class="input-value-box">{{ canFormFname1 }}</td>

  <td for="can-form-fname2" class="can-file-button">{{ i18n['add_photo'] }} 2</td>
  <td class="input-value-box">{{ canFormFname2 }}</td>

  <td for="can-form-fname3" class="can-file-button">{{ i18n['add_photo'] }} 3</td>
  <td class="input-value-box">{{ canFormFname3 }}</td>

  <td for="can-form-fname4" class="can-file-button">{{ i18n['add_photo'] }} 4</td>
  <td class="input-value-box">{{ canFormFname4 }}</td>

  <td for="can-form-fname5" class="can-file-button">{{ i18n['add_photo'] }} 5</td>
  <td class="input-value-box">{{ canFormFname5 }}</td-->

</div>
