#can-disp-table {
  width: 100%;
  max-width: 741px;
  margin: auto;
  border-spacing: 0;
}
#can-disp-table td {
  border: 0;
  padding: 6px;
  font-family: Arial, Helvetica, sans-serif;
}
#can-disp-table tr td:nth-child(1) {
  width: 35%;
  text-align: right;
}
#can-disp-table tr:nth-child(2n) {
  background-color: yellow;
}
