<div class="sub-screen">
  <h1 class="title">surfaceForm</h1>

  <table>
    <thead>
      <tr>
        <th></th>
        <th class="tab-90">{{ i18n['ctg_surface'] }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of canSurfaceRows">
        <td><button class="btn-flag" [style]="item.style" [class]="item.class" (click)="setDefaultCanSurface(item.id)"></button></td>
        <td>{{ item.name }}</td>
        <td><button class="btn-del" (click)="deleteCanSurface(item.id)"><span>×</span></button></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3"><button id="openBtn" class="can-ctg-open-btn" [class]="openClass" (click)="openForm()">+</button>
        </td>
      </tr>
    </tfoot>
  </table>

  <form *ngIf="openClass" [formGroup]="canForm" (submit)="submitCanSurface()">
    <label>{{ i18n['ctg_tab_name'] }} + {{ i18n['ctg_tab_color'] }}</label>
    <div style="display: flex;">
      <input type="text" formControlName="canFormName" minlength="3" class="border-left" required />
      <input type="color" formControlName="canFormPicker" class="can-ctg-color-picker border-right" required /><br>
    </div>
    <div>
      <input id="canFormDefault" type="checkbox" formControlName="canFormDefault" class="check-2em check-right" />
      <label for="canFormDefault">{{ i18n['ctg_check_default'] }}</label>
    </div>

    <button type="submit" class="can-ctg-submit-btn" [disabled]="canForm.invalid">+</button>
  </form>
</div>
