<div class="sub-screen">
  <h1>surfaceForm</h1>

  <table class="tab-list">
    <thead>
      <tr>
        <th></th>
        <th class="tab-90">{{ i18n.ctg_surface }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of canSurfaceRows">
        <td><button class="btn-sign" [style]="item.style" (click)="setDefaultCanSurface(item.id)"></button></td>
        <td>{{ item.name }}</td>
        <td><button class="btn-del" (click)="deleteCanSurface(item.id)"><span>×</span></button></td>
      </tr>
    </tbody>
  </table>

  <p></p>

  <button class="can-ctg-open-btn" (click)="openForm = !openForm" *ngIf="!openForm">+</button>

  <!--
  // TODO:
  // no color picker - select-option colors from db
  //
  -->
  <form *ngIf="openForm" [formGroup]="canForm" (submit)="submitCanSurface()">
    <label>{{ i18n.name }} + {{ i18n.color }}</label>
    <div style="display: flex;">
      <input type="text" formControlName="canFormName" minlength="3" class="border-left" required />
      <input type="color" formControlName="canFormPicker" class="can-ctg-color-picker border-right" required /><br>
    </div>

    <button class="can-ctg-btn" [disabled]="canForm.invalid">+</button>
  </form>
</div>
