<div class="sub-screen">
  <h1 class="title">surfaceForm</h1>

  <div class="demo demo-head">{{ i18n['ctg_surface'] }}</div>
  <div *ngIf="canSurfaceRows.length == 0">
    <div class="demo demo-body" *ngFor="let item of [1,2]">&nbsp;</div>
  </div>
  <div *ngIf="canSurfaceRows.length > 0">
    <div class="demo demo-body" *ngFor="let item of canSurfaceRows">
      <button *ngIf="item.removable" class="btn btn-del right"
        (click)="deleteCanSurface(item.id)"><span>×</span></button>
      <button *ngIf="!item.removable" class="btn btn-hidden right"></button>
      <button class="btn btn-flag left" [style]="item.style" [class]="item.class"
        (click)="setDefaultCanSurface(item.id)"></button>
      <span class="cat-item">{{ item.name }}</span>
      <span class="defloat"></span>
    </div>
  </div>

  <button id="openBtn" class="can-ctg-open-btn center" [class]="openClass" (click)="openForm()">+</button>

  <form *ngIf="openClass" [formGroup]="canForm" (submit)="submitCanSurface()">
    <label>{{ i18n['ctg_tab_name'] }} + {{ i18n['ctg_tab_color'] }}</label>
    <div style="display: flex;">
      <input type="text" formControlName="canFormName" minlength="3" class="border-left" required />
      <input type="color" formControlName="canFormPicker" class="can-ctg-color-picker border-right" required /><br>
    </div>
    <div>
      <input id="canFormDefault" type="checkbox" formControlName="canFormDefault" class="check-2em check-right" />
      <label for="canFormDefault">{{ i18n['ctg_check_default'] }}</label>
    </div>

    <button type="submit" class="can-ctg-submit-btn" [disabled]="canForm.invalid">+</button>
  </form>
</div>
